body, html
{
    min-height: 101vh;
    color: #212529;
}

a:hover {
    text-decoration: none;
}

.default-font-color {
    color: #212529 !important;
}

.hide {
    visibility: hidden;
}

.cursor-pointer {
    cursor: pointer !important;
}

.test-border {
    border: 1px solid black;
}